{% extends 'strona/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/chat.css' %}">
    {% if thread.receiver == request.user %}
        <h5 style="text-align: center;font-size: 35px;">{{thread.user}}</h5>
    {% else %}
        <h5 style="text-align: center;font-size: 35px;">{{thread.receiver}}</h5>
    {% endif %}

    {% if message_list.all.count == 0 %}
        <p>Nie ma żadnych wiadomości</p>
    {% endif %}
    <div class="pool">
        {% for message in message_list %}
            {% if message.sender_user == request.user %}
                <div class="message">{{message.body}} </div>
                <div style="clear: both;"></div>
            {% elif message.receiver_user == request.user %}
                <p style="margin: 0;margin-left: 10px;">{{thread.receiver}}</p>
                <div class="message2">{{message.body}}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="foremka">
        <form method="POST" action="{% url 'create-message' thread.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
                
            <button type="submit" class="ucz">Wyślij wiadomość</button>
        </form>
    </div>

{% endblock %}